<option value="1426128898">Акколь</option>
    <option value="1426128908">Астана</option>
    <option value="1426128909">Атбасар</option>
    <option value="1426128915">Державинск</option>
    <option value="1426128916">Ерейментау</option>
    <option value="1426128918">Есиль</option>
    <option value="1426128937">Кокшетау</option>
    <option value="1426128944">Макинск</option>
    <option value="1426128958">Степногорск</option>
    <option value="1426128959">Степняк</option>
    <option value="1426128981">Щучинск</option>
    <option value="352387073">Барановичи</option>
    <option value="352387075">Белоозерск</option>
    <option value="352387077">Береза</option>
    <option value="352387083">Брест</option>
    <option value="352387093">Высокое</option>
    <option value="352387094">Ганцевичи</option>
    <option value="352387100">Давид-Городок</option>
    <option value="352387105">Дрогичин</option>
    <option value="352387109">Жабинка</option>
    <option value="352387114">Иваново</option>
    <option value="352387115">Ивацевичи</option>
    <option value="352387118">Каменец</option>
    <option value="352387123">Кобрин</option>
    <option value="352387125">Коссово</option>
    <option value="352387134">Лунинец</option>
    <option value="352387136">Ляховичи</option>
    <option value="352387137">Малорита</option>
    <option value="352387139">Микашевичи</option>
    <option value="352387158">Пинск</option>
    <option value="352387161">Пружаны</option>
    <option value="352387176">Столин</option>
    <option value="65886">Майкоп</option>
    <option value="65887">Гиагинская</option>
    <option value="65888">Энем</option>
    <option value="65889">Яблоновский</option>
    <option value="234946641">Талин</option>
    <option value="234946631">с. Ошакан</option>
    <option value="234946583">с. Бюракан</option>
    <option value="234946581">Аштарак</option>
    <option value="234946570">с. Арагацаван</option>
    <option value="234946569">Апаран</option>
    <option value="1812004865">Айдаркен</option>
    <option value="1812004878">Баткен</option>
    <option value="1812004883">с. Бужум</option>
    <option value="1812004885">пгт Восточный</option>
    <option value="1812004895">Исфана</option>
    <option value="1812004896">Кадамжай</option>
    <option value="1812004900">с. Кара-Бак</option>
    <option value="1812004906">с. Караван</option>
    <option value="1812004916">с. Кулунду</option>
    <option value="1812004920">с. Кызыл-Жол</option>
    <option value="1812004921">Кызыл-Кия</option>
    <option value="1812004948">Сулюкта</option>
    <option value="1812004958">с. Уч-Коргон</option>
