<option value="1049154">Казань</option>
    <option value="1049164">Набережные Челны</option>
    <option value="1049155">Азнакаево</option>
    <option value="1049156">Альметьевск</option>
    <option value="1049157">Бавлы</option>
    <option value="1049158">Бугульма</option>
    <option value="1049159">Буинск</option>
    <option value="1049160">Елабуга</option>
    <option value="1049161">Заинск</option>
    <option value="1049162">Зеленодольск</option>
    <option value="1049163">Лениногорск</option>
    <option value="1049165">Нижнекамск</option>
    <option value="1049166">Нурлат</option>
    <option value="1049167">Чистополь</option>
    <option value="1049168">Агрыз</option>
    <option value="1049169">Арск</option>
    <option value="1049170">Васильево</option>
    <option value="1049171">Кукмор</option>
    <option value="1049172">Менделеевск</option>
    <option value="1049173">Мензелинск</option>
    <option value="1049174">Камские Поляны</option>
    <option value="1049175">Джалиль</option>
