<option value="1376864">Чебоксары</option>
    <option value="1376865">Алатырь</option>
    <option value="1376866">Канаш</option>
    <option value="1376867">Новочебоксарск</option>
    <option value="1376868">Шумерля</option>
