<option value="2031617">Белгород</option>
    <option value="2031618">Алексеевка</option>
    <option value="2031619">Валуйки</option>
    <option value="2031620">Губкин</option>
    <option value="2031621">Старый Оскол</option>
    <option value="2031622">Шебекино</option>
    <option value="2031623">Разумное</option>
    <option value="2031624">Борисовка</option>
    <option value="2031625">Новый Оскол</option>
    <option value="2031626">Чернянка</option>
    <option value="2031627">Строитель</option>
