<option value="2097164">Брянск</option>
    <option value="2097165">Дятьково</option>
    <option value="2097166">Клинцы</option>
    <option value="2097167">Новозыбков</option>
    <option value="2097168">Сельцо</option>
    <option value="2097169">Фокино</option>
    <option value="2097170">Жуковка</option>
    <option value="2097171">Карачев</option>
    <option value="2097172">Климово</option>
    <option value="2097173">Навля</option>
    <option value="2097174">Почеп</option>
    <option value="2097175">Стародуб</option>
    <option value="2097176">Трубчевск</option>
    <option value="2097177">Унеча</option>
