<option value="2228718">Волгоград</option>
    <option value="2228719">Горьковский</option>
    <option value="2228720">Волжский</option>
    <option value="2228721">Камышин</option>
    <option value="2228722">Михайловка</option>
    <option value="2228723">Урюпинск</option>
    <option value="2228724">Фролово</option>
    <option value="2228725">Городище</option>
    <option value="2228726">Дубовка</option>
    <option value="2228727">Елань</option>
    <option value="2228728">Жирновск</option>
    <option value="2228729">Калач-на-Дону</option>
    <option value="2228730">Петров Вал</option>
    <option value="2228731">Котельниково</option>
    <option value="2228732">Котово</option>
    <option value="2228733">Ленинск</option>
    <option value="2228734">Николаевск</option>
    <option value="2228735">Новоаннинский</option>
    <option value="2228736">Палласовка</option>
    <option value="2228737">Краснослободск</option>
    <option value="2228738">Суровикино</option>
