<option value="2294042">Вологда</option>
    <option value="2294043">Великий Устюг</option>
    <option value="2294044">Сокол</option>
    <option value="2294045">Череповец</option>
    <option value="2294046">Грязовец</option>
    <option value="2294047">Шексна</option>
