<option value="2424893">Иваново</option>
    <option value="2424894">Вичуга</option>
    <option value="2424895">Кинешма</option>
    <option value="2424896">Тейково</option>
    <option value="2424897">Фурманов</option>
    <option value="2424898">Шуя</option>
    <option value="2424899">Кохма</option>
    <option value="2424900">Приволжск</option>
    <option value="2424901">Родники</option>
    <option value="2424902">Южа</option>
