<option value="2556192">Калининград</option>
    <option value="2556193">Балтийск</option>
    <option value="2556194">Светлый</option>
    <option value="2556195">Советск</option>
    <option value="2556196">Гвардейск</option>
    <option value="2556197">Гусев</option>
    <option value="2556198">Черняховск</option>
