<option value="2818661">Киров</option>
    <option value="2818662">Вятские Поляны</option>
    <option value="2818663">Кирово-Чепецк</option>
    <option value="2818664">Котельнич</option>
    <option value="2818665">Слободской</option>
    <option value="2818666">Омутнинск</option>
    <option value="2818667">Советск</option>
    <option value="2818668">Яранск</option>
