<option value="3014744">Курск</option>
    <option value="3014745">Железногорск</option>
    <option value="3014746">Курчатов</option>
    <option value="3014747">Льгов</option>
    <option value="3014748">Щигры</option>
    <option value="3014749">Обоянь</option>
    <option value="3014750">Рыльск</option>
