<option value="1426391055">Аягоз</option>
    <option value="1426391070">Зайсан</option>
    <option value="1426391071">Зыряновск</option>
    <option value="1426391084">Курчатов</option>
    <option value="1426391093">Риддер</option>
    <option value="1426391099">Семей</option>
    <option value="1426391101">Серебрянск</option>
    <option value="1426391113">Усть-Каменогорск</option>
    <option value="1426391120">Шар</option>
    <option value="1426391122">Шемонаиха</option>
    <option value="1426391199">с. Калбатау</option>
    <option value="1426391200">с. Урджар</option>
    <option value="1426391201">с. Маканчи</option>
    <option value="352649222">Березино</option>
    <option value="352649225">Борисов</option>
    <option value="352649233">Вилейка</option>
    <option value="352649236">Воложин</option>
    <option value="352649245">Дзержинск</option>
    <option value="352649256">Жодино</option>
    <option value="352649257">Заславль</option>
    <option value="352649264">Клецк</option>
    <option value="352649268">Копыль</option>
    <option value="352649273">Крупки</option>
    <option value="352649277">Логойск</option>
    <option value="352649279">Любань</option>
    <option value="352649282">Марьина Горка</option>
    <option value="352649284">Минск</option>
    <option value="352649288">Молодечно</option>
    <option value="352649291">Мядель</option>
    <option value="352649293">Несвиж</option>
    <option value="352649314">Слуцк</option>
    <option value="352649315">Смолевичи</option>
    <option value="352649317">Солигорск</option>
    <option value="352649318">Старые Дороги</option>
    <option value="352649319">Столбцы</option>
    <option value="352649323">Узда</option>
    <option value="352649324">Фаниполь</option>
    <option value="352649328">Червень</option>
    <option value="328034">Махачкала</option>
    <option value="328035">Буйнакск</option>
    <option value="328036">Дагестанские Огни</option>
    <option value="328037">Дербент</option>
    <option value="328038">Избербаш</option>
    <option value="328039">Каспийск</option>
    <option value="328040">Кизилюрт</option>
    <option value="328041">Кизляр</option>
    <option value="328042">Хасавюрт</option>
    <option value="235208790">Чамбарак</option>
    <option value="235208789">с. Цовинар</option>
    <option value="235208781">Севан</option>
    <option value="235208780">с. Сарухан</option>
    <option value="235208774">с. Норатус</option>
    <option value="235208769">с. Неркин Геташен</option>
    <option value="235208763">Мартуни</option>
    <option value="235208760">с. Лчашен</option>
    <option value="235208759">с. Личк</option>
    <option value="235208756">с. Кармиргюх</option>
    <option value="235208751">с. Золакар</option>
    <option value="235208739">с. Геховит</option>
    <option value="235208737">Гавар</option>
    <option value="235208735">с. Верин Геташен</option>
    <option value="235208733">Варденис</option>
    <option value="235208732">с. Варденик</option>
    <option value="235208722">с. Астхадзор</option>
    <option value="235208711">с. Акунк</option>
    <option value="1812267015">с. Араван</option>
    <option value="1812267030">с. Гульча</option>
    <option value="1812267031">с. Гюльбахор</option>
    <option value="1812267033">с. Джаны-Кыштак</option>
    <option value="1812267034">с. Джаны-Ноокат</option>
    <option value="1812267035">с. Дыйкан-Кыштак</option>
    <option value="1812267037">с. им.Кирова</option>
    <option value="1812267038">с. им.Чапаева</option>
    <option value="1812267047">с. Кара-Кульджа</option>
    <option value="1812267048">Кара-Суу</option>
    <option value="1812267049">с. Кара-Таш</option>
    <option value="1812267052">с. Кашгар-Кыштак</option>
    <option value="1812267055">с. Коджо-Арык</option>
    <option value="1812267061">с. Куршаб</option>
    <option value="1812267066">с. Кызыл-Кыштак</option>
    <option value="1812267073">с. Мырза-Аке</option>
    <option value="1812267074">с. Нариман</option>
    <option value="1812267080">Ноокат</option>
    <option value="1812267095">с. Таштак</option>
    <option value="1812267096">с. Тепе-Коргон</option>
    <option value="1812267101">Узген</option>
    <option value="1812267103">с. Фрунзе</option>
    <option value="1812267109">с. Шарк</option>
    <option value="1812267111">с. Ылай-Талаа</option>
