<option value="3277819">Москва</option>
    <option value="3276901">Бронницы</option>
    <option value="3276902">Дзержинский</option>
    <option value="3276903">Долгопрудный</option>
    <option value="3276904">Дубна</option>
    <option value="3276905">Железнодорожный</option>
    <option value="3276906">Жуковский</option>
    <option value="3276907">Ивантеевка</option>
    <option value="3276908">Климовск</option>
    <option value="3276909">Коломна</option>
    <option value="3276910">Королев</option>
    <option value="3276911">Красноармейск</option>
    <option value="3276912">Краснознаменск</option>
    <option value="3276913">Лобня</option>
    <option value="3276914">Лыткарино</option>
    <option value="3276915">Орехово-Зуево</option>
    <option value="3276916">Подольск</option>
    <option value="3276917">Протвино</option>
    <option value="3276918">Пущино</option>
    <option value="3276919">Реутов</option>
    <option value="3276920">Рошаль</option>
    <option value="3276921">Серпухов</option>
    <option value="3276922">Троицк</option>
    <option value="3276923">Фрязино</option>
    <option value="3276924">Щербинка</option>
    <option value="3276925">Электросталь</option>
    <option value="3276926">Юбилейный</option>
    <option value="3276927">Балашиха</option>
    <option value="3276928">Никольско-Архангельский</option>
    <option value="3276929">Волоколамск</option>
    <option value="3276930">Воскресенск</option>
    <option value="3276931">Белоозерский</option>
    <option value="3276933">Дмитров</option>
    <option value="3276934">Домодедово</option>
    <option value="3276936">Егорьевск</option>
    <option value="3276937">Зарайск</option>
    <option value="3276938">Истра</option>
    <option value="3276939">Дедовск</option>
    <option value="3276940">Кашира</option>
    <option value="3276941">Клин</option>
    <option value="3276942">Красногорск</option>
    <option value="3276943">Нахабино</option>
    <option value="3276944">Видное</option>
    <option value="3276945">Московский</option>
    <option value="3276946">Луховицы</option>
    <option value="3276947">Люберцы</option>
    <option value="3276948">Котельники</option>
    <option value="3276949">Малаховка</option>
    <option value="3276950">Томилино</option>
    <option value="3276951">Можайск</option>
    <option value="3276952">Мытищи</option>
    <option value="3276953">Наро-Фоминск</option>
    <option value="3276954">Апрелевка</option>
    <option value="3276955">Калининец</option>
    <option value="3276956">Ногинск</option>
    <option value="3276957">Черноголовка</option>
    <option value="3276958">Электроугли</option>
    <option value="3276959">Старая Купавна</option>
    <option value="3276960">Одинцово</option>
    <option value="3276961">Голицыно</option>
    <option value="3276962">Кубинка</option>
    <option value="3276963">Озеры</option>
    <option value="3276964">Куровское</option>
    <option value="3276965">Ликино-Дулево</option>
    <option value="3276966">Павловский Посад</option>
    <option value="3276967">Электрогорск</option>
    <option value="3276968">Пушкино</option>
    <option value="3276969">Софрино</option>
    <option value="3276970">Раменское</option>
    <option value="3276971">Тучково</option>
    <option value="3276972">Сергиев Посад</option>
    <option value="3276973">Пересвет</option>
    <option value="3276974">Хотьково</option>
    <option value="3276975">Солнечногорск</option>
    <option value="3276976">Ступино</option>
    <option value="3276977">Химки</option>
    <option value="3276978">Сходня</option>
    <option value="3276979">Чехов</option>
    <option value="3276980">Шатура</option>
    <option value="3276981">Щелково</option>
    <option value="3276982">Лосино-Петровский</option>
    <option value="3276983">Монино</option>
    <option value="3276984">Зеленоград</option>
    <option value="3276985">Крюково</option>
    <option value="3276986">Внуково</option>
