<option value="3342661">Мурманск</option>
    <option value="3342662">Апатиты</option>
    <option value="3342663">Кандалакша</option>
    <option value="3342664">Кировск</option>
    <option value="3342665">Мончегорск</option>
    <option value="3342666">Оленегорск</option>
    <option value="3342667">Полярные Зори</option>
    <option value="3342668">Полярный</option>
    <option value="3342669">Североморск</option>
    <option value="3342670">Ковдор</option>
    <option value="3342671">Мурмаши</option>
    <option value="3342672">Заполярный</option>
    <option value="3342673">Никель</option>
