<option value="3539875">Новосибирск</option>
    <option value="3539876">Барабинск</option>
    <option value="3539877">Бердск</option>
    <option value="3539878">Искитим</option>
    <option value="3539879">Куйбышев</option>
    <option value="3539880">Обь</option>
    <option value="3539881">Татарск</option>
    <option value="3539882">Болотное</option>
    <option value="3539883">Линево</option>
    <option value="3539884">Карасук</option>
    <option value="3539885">Коченево</option>
    <option value="3539886">Купино</option>
    <option value="3539887">Краснообск</option>
    <option value="3539888">Сузун</option>
    <option value="3539889">Тогучин</option>
    <option value="3539890">Черепаново</option>
