<option value="3670656">Оренбург</option>
    <option value="3670657">Абдулино</option>
    <option value="3670658">Бугуруслан</option>
    <option value="3670659">Бузулук</option>
    <option value="3670660">Гай</option>
    <option value="3670661">Кувандык</option>
    <option value="3670662">Медногорск</option>
    <option value="3670663">Новотроицк</option>
    <option value="3670664">Орск</option>
    <option value="3670665">Соль-Илецк</option>
    <option value="3670666">Сорочинск</option>
    <option value="3670667">Ясный</option>
    <option value="3670668">Акбулак</option>
    <option value="3670669">Саракташ</option>
    <option value="3670670">Тоцкое Второе</option>
