<option value="3801743">Пенза</option>
    <option value="3801744">Заречный</option>
    <option value="3801745">Каменка</option>
    <option value="3801746">Кузнецк</option>
    <option value="3801747">Сердобск</option>
    <option value="3801748">Нижний Ломов</option>
    <option value="3801749">Никольск</option>
