<option value="3998211">Ростов-на-Дону</option>
    <option value="3998212">Азов</option>
    <option value="3998213">Батайск</option>
    <option value="3998214">Белая Калитва</option>
    <option value="3998215">Волгодонск</option>
    <option value="3998216">Гуково</option>
    <option value="3998217">Донецк</option>
    <option value="3998218">Зверево</option>
    <option value="3998219">Каменск-Шахтинский</option>
    <option value="3998220">Красный Сулин</option>
    <option value="3998221">Миллерово</option>
    <option value="3998222">Новочеркасск</option>
    <option value="3998223">Новошахтинск</option>
    <option value="3998224">Сальск</option>
    <option value="3998225">Таганрог</option>
    <option value="3998226">Шахты</option>
    <option value="3998227">Кулешовка</option>
    <option value="3998228">Аксай</option>
    <option value="3998229">Багаевская</option>
    <option value="3998230">Егорлыкская</option>
    <option value="3998231">Зерноград</option>
    <option value="3998232">Зимовники</option>
    <option value="3998233">Константиновск</option>
    <option value="3998234">Матвеев Курган</option>
    <option value="3998235">Морозовск</option>
    <option value="3998236">Чалтырь</option>
    <option value="3998237">Персиановский</option>
    <option value="3998238">Орловский</option>
    <option value="3998239">Пролетарск</option>
    <option value="3998240">Семикаракорск</option>
    <option value="3998241">Цимлянск</option>
