<option value="4063422">Рязань</option>
    <option value="4063423">Касимов</option>
    <option value="4063424">Сасово</option>
    <option value="4063425">Скопин</option>
    <option value="4063426">Кораблино</option>
    <option value="4063427">Новомичуринск</option>
    <option value="4063428">Рыбное</option>
    <option value="4063429">Ряжск</option>
    <option value="4063430">Шилово</option>
