<option value="4194999">Саратов</option>
    <option value="4195000">Аткарск</option>
    <option value="4195001">Балаково</option>
    <option value="4195002">Балашов</option>
    <option value="4195003">Вольск</option>
    <option value="4195004">Красноармейск</option>
    <option value="4195005">Маркс</option>
    <option value="4195006">Петровск</option>
    <option value="4195007">Пугачев</option>
    <option value="4195008">Ртищево</option>
    <option value="4195009">Энгельс</option>
    <option value="4195010">Приволжский</option>
    <option value="4195011">Аркадак</option>
    <option value="4195012">Ершов</option>
    <option value="4195013">Калининск</option>
    <option value="4195014">Красный Кут</option>
    <option value="4195015">Новоузенск</option>
    <option value="4195016">Степное</option>
