<option value="4326100">Екатеринбург</option>
    <option value="4326101">Кольцово</option>
    <option value="4326102">Алапаевск</option>
    <option value="4326103">Артемовский</option>
    <option value="4326104">Асбест</option>
    <option value="4326105">Рефтинский</option>
    <option value="4326106">Березовский</option>
    <option value="4326107">Богданович</option>
    <option value="4326108">Верхняя Пышма</option>
    <option value="4326109">Среднеуральск</option>
    <option value="4326110">Верхняя Салда</option>
    <option value="4326111">Заречный</option>
    <option value="4326112">Ивдель</option>
    <option value="4326113">Ирбит</option>
    <option value="4326114">Каменск-Уральский</option>
    <option value="4326115">Камышлов</option>
    <option value="4326116">Карпинск</option>
    <option value="4326117">Качканар</option>
    <option value="4326118">Кировград</option>
    <option value="4326119">Краснотурьинск</option>
    <option value="4326120">Красноуральск</option>
    <option value="4326121">Красноуфимск</option>
    <option value="4326122">Кушва</option>
    <option value="4326123">Лесной</option>
    <option value="4326124">Невьянск</option>
    <option value="4326125">Нижний Тагил</option>
    <option value="4326126">Нижняя Салда</option>
    <option value="4326127">Нижняя Тура</option>
    <option value="4326128">Новоуральск</option>
    <option value="4326129">Первоуральск</option>
    <option value="4326130">Полевской</option>
    <option value="4326131">Ревда</option>
    <option value="4326132">Дегтярск</option>
    <option value="4326133">Реж</option>
    <option value="4326134">Североуральск</option>
    <option value="4326135">Серов</option>
    <option value="4326136">Сухой Лог</option>
    <option value="4326137">Тавда</option>
    <option value="4326138">Новая Ляля</option>
    <option value="4326139">Сысерть</option>
    <option value="4326140">Арамиль</option>
    <option value="4326141">Талица</option>
    <option value="4326142">Туринск</option>
