<option value="4391111">Смоленск</option>
    <option value="4391112">Десногорск</option>
    <option value="4391113">Вязьма</option>
    <option value="4391114">Гагарин</option>
    <option value="4391115">Верхнеднепровский</option>
    <option value="4391116">Рославль</option>
    <option value="4391117">Сафоново</option>
    <option value="4391118">Ярцево</option>
