<option value="4456655">Тамбов</option>
    <option value="4456656">Кирсанов</option>
    <option value="4456657">Котовск</option>
    <option value="4456658">Мичуринск</option>
    <option value="4456659">Моршанск</option>
    <option value="4456660">Рассказово</option>
    <option value="4456661">Уварово</option>
    <option value="4456662">Жердевка</option>
    <option value="4456663">Строитель</option>
