<option value="4588471">Томск</option>
    <option value="4588472">Асино</option>
    <option value="4588473">Колпашево</option>
    <option value="4588474">Северск</option>
    <option value="4588475">Стрежевой</option>
