<option value="4719359">Тюмень</option>
    <option value="4719360">Заводоуковск</option>
    <option value="4719361">Ишим</option>
    <option value="4719362">Тобольск</option>
    <option value="4719363">Ялуторовск</option>
    <option value="4719364">Боровский</option>
