<option value="4784841">Ульяновск</option>
    <option value="4784842">Барыш</option>
    <option value="4784843">Димитровград</option>
    <option value="4784844">Инза</option>
    <option value="4784845">Новоульяновск</option>
