<option value="4850465">Челябинск</option>
    <option value="4850466">Новосинеглазовский</option>
    <option value="4850467">Аша</option>
    <option value="4850468">Верхний Уфалей</option>
    <option value="4850469">Еманжелинск</option>
    <option value="4850470">Златоуст</option>
    <option value="4850471">Карабаш</option>
    <option value="4850472">Карталы</option>
    <option value="4850473">Касли</option>
    <option value="4850474">Катав-Ивановск</option>
    <option value="4850475">Копейск</option>
    <option value="4850476">Горняк</option>
    <option value="4850477">Коркино</option>
    <option value="4850478">Роза</option>
    <option value="4850479">Кыштым</option>
    <option value="4850480">Магнитогорск</option>
    <option value="4850481">Миасс</option>
    <option value="4850482">Пласт</option>
    <option value="4850483">Сатка</option>
    <option value="4850484">Троицк</option>
    <option value="4850485">Усть-Катав</option>
    <option value="4850486">Чебаркуль</option>
    <option value="4850487">Южноуральск</option>
    <option value="4850488">Трехгорный</option>
    <option value="4850489">Озерск</option>
    <option value="4850490">Снежинск</option>
    <option value="4850491">Сим</option>
    <option value="4850492">Юрюзань</option>
    <option value="4850493">Куса</option>
    <option value="4850494">Бакал</option>
