


.m-t-20 {
  margin-top: 20px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-l-7 {
  margin-left: 7px;
}

.p-l-7 {
  padding-left: 7px;
}

.no-border {
  border: none !important;
}

.invisible-delimeter {
  height: 20px;
  width: 100%;
  float: left;
}

.underline {
  text-decoration: underline;
}

.soft-color {
  color: #9b9b9b;
}

.inline-block {
  display: inline-block;
}

.font-xl {
  font-size: 17px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-t-14 {
  margin-top: 14px;
}

.f-s-15 {
  font-size: 15px;
}

.f-s-14 {
  font-size: 14px;
}

.w-auto {
  width: auto;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.hidden-all {
  display: none;
}

.m-t-30 {
  margin-top: 30px;
}

.radio-to-checkbox + label::before {
  cursor: pointer;
  position: absolute;
  top: -1px;
  z-index: 1;
  left: 14px;
  color: #9496a2;
  content: "\F12C";
  display: inline-block;
  font: normal normal normal 18px/22px "Material Design Icons";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transition: all 0.3s ease;
}

.radio-to-checkbox + label {
  padding: 0 0 3px 43px;
}

.radio-to-checkbox:checked + label::before {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

.radio-to-checkbox + label::after {
  border: none;
  border-radius: 2px;
  width: 22px;
  height: 22px;
  background: #ffffff;
  box-shadow: inset 0 0 7px #a4a4a4;
  top: 0;
}

[type="radio"] + label > span {
  position: relative;
  top: -4px;
}

.f-s-11 {
  font-size: 11px;
}