
@-webkit-keyframes slide-in-left {
  0% {
    margin-left: 50%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes toast {
  0% {
    margin-top: 40px;
  }
  100% {
    margin-top: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes slide-from-right-animation {
  0% {
    opacity: 0;
    padding-left: 110px;
  }
  100% {
    opacity: 1;
    padding-left: 0;
  }
}

@-webkit-keyframes slide-in-up {
  0% {
    opacity: 0;
    margin-top: 40px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

.delay-2100 {
  animation-delay: 2.1s;
}

.delay-1000 {
  animation-delay: 1s;
}

.delay-1100 {
  animation-delay: 1.1s;
}

.delay-500 {
  animation-delay: 0.5s;
}

.duration-300 {
  animation-duration: 0.3s  !important;
}

.delay-1500 {
  animation-delay: 1.5s;
}