@font-face {
  font-family: 'Rb';
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Rbb';
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Osxb';
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: 'Ossb';
  src: url("../fonts/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: 'Os';
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Osb';
  src: url("../fonts/OpenSans-Bold.ttf");
}