@mixin mdi() {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin transform($arg) {
  transform: $arg;
  -webkit-transform: $arg;
  -moz-transform: $arg;
  -o-transform: $arg;
}



@mixin boxShadow($arg...) {
  -moz-box-shadow: $arg;
  -webkit-box-shadow: $arg;
  box-shadow: $arg;
}

@mixin transition($arg...) {
  -moz-transition: $arg;
  -webkit-transition: $arg;
  transition: $arg;
}

$a: #c63854;