@import 'mixins.scss';

html {
  background: #f4f5fb;
}

body {
  color: #5d5d5d;
  font-size: 15px;
  font-family: Rb;
  overflow-x: hidden;
  margin: 0;
}

body::before {
  content: "";
  @include transition(all 0.2s ease);
}

textarea {
  resize: vertical;
}

button:focus, a:focus, a:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  outline: none !important;
}

a {
  color: #0c588f;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

a:hover {
  color: #dd3e3e;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}



.sidebar {
  background: #186697;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  z-index: 2;
  position: relative;
}

.navbar-header {
  width: 100%;
  border: none;
}



#breadcrumbs span {
  color: #186697;
}

#breadcrumbs .bg-title {
  padding: 15px 0 18px;
  margin-left: -15px;
  margin-right: -15px;
}

.breadcrumb {
  background: 0 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 17px;
  margin-top: 6px;
  line-height: 1.1;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb li a {
  color: rgba(0, 0, 0, 0.5);
}

.breadcrumb li:first-child::before {
  display: none;
}

.breadcrumb li::before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}



h4 {
  line-height: 22px;
  font-size: 24px;
}

#user-modal i {
  margin-right: 0;
}

#user-modal .input-group-addon {
  width: 49px;
  position: absolute;
  z-index: 4;
  height: 100%;
  line-height: 29px;
  font-size: 22px;
  border-radius: 6px 0 0 6px;
  border: 1px solid transparent;
  background: transparent;
  right: 0;
  color: #b3b8bc;
}

#user-modal .extra-title {
  font-family: Os;
  color: #464646;
}

#user-modal .modal-title {
  font-family: Osb;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 35px;
  color: #186697;
}

#user-modal .modal-title span {
  color: #b3b8bc;
}

#user-modal .modal-content {
  padding: 30px 0 45px;
}

#user-modal button[type=submit] {
  padding: 7px 41px;
  margin-top: 55px;
}

#user-modal a {
  color: #186697;
  font-size: 15px;
  padding: 0 1px;
}

#user-modal .input-group .form-control:last-child {
  border-radius: 6px;
}

#user-modal input[type=text], #user-modal input[type=password], #user-modal .input-group {
  width: 100%;
}

#user-modal input[type=text], #user-modal input[type=password] {
  padding-right: 47px;
}

#user-modal .modal-dialog {
  width: 430px;
}

#user-modal .modal-header {
  text-align: center;
  border-bottom: none;
  font-family: Ossb;
}

#user-modal .modal-body {
  padding: 15px 35px;
}

.error-container {
  color: #ff7573;
  margin-bottom: 10px;
  display: none;
}




.content-wrapper {
  background: #fff;
}

#section-one .inline-col {
  padding: 0 10px 0 0;
}

#section-one .inline-col a {
  color: #fff;
}

#section-one #user-layout a {
  color: #5d5d5d;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 29px;
  border-bottom: dotted 1px #e0e4f6;
  transition: all 0.3s ease;
}

#section-one #user-layout a:last-child {
  border-bottom: none;
}

#section-one #user-layout a:hover {
  color: #bc3b56;
}

#section-one .inline-col:last-child {
  padding-right: 0;
}

#fixed-wrapper {
  color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  min-height: 38px;
  z-index: 333;
  position: fixed;
  top: 0;
  border-bottom: solid 4px #0c588f;
}

#fixed-wrapper .container {
  padding: 0;
}

.dark-blue {
  background: #146ba9;
}

#section-two {
  background: #fff url(../images/header.jpg) top left no-repeat;
  min-height: 199px;
  background-size: 100%;
  position: relative;
}


i.i-left {
  margin-left: 7px;
}


i.i-right {
  margin-right: 7px;
}

.header-col {
  line-height: 31px;
  height: 36px;
  position: relative;
}

.header-col i {
  position: relative;
  top: 3px;
  margin-left: 15px;
  font-size: 19px;
  line-height: 1px;
}

.header-col i::before {
  transition: all 0.45s ease;
}

.header-col button {
  color: #a4edff;
  padding: 1px 0 0 5px;
  position: relative;
  line-height: 31px;
}

.header-col .drop-cart-icon {
  margin-left: 8px;
}

#logo {
  display: block;
  position: absolute;
  height: 150px;
  width: 160px;
  z-index: 25;
  top: 15px;
  left: 25px;
  background: transparent;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.sidebar-box {
  background: #fff;
  border-radius: 0 4px 4px 0;
  padding: 0 30px 17px;
  box-shadow: inset 0 -4px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(192, 196, 215, 0.25);
  color: #868ca7;
  margin-bottom: 50px;
}

.sidebar-box .widget-title {
  font-family: Os;
  padding: 42px 0 13px;
  font-size: 16px;
  color: #464646;
}

.sidebar-box .widget-title-blue {
  margin-left: -30px;
  margin-right: -30px;
  padding: 12px 30px;
  background: #146ba9;
  color: #fff;
  font-family: Ossb;
}

.sidebar-box .widget-title-blue-2 {
  margin: 0 -30px 15px;
  padding: 12px 30px;
  background: #146ba9;
  color: #fff;
  font-family: Ossb;
  box-shadow: inset 0 -3px 0px 0px #0c588f;
}

#category-page .short-description {
  border-bottom: solid 1px #e0e4f6;
  padding: 0px 0 75px;
  color: #8896a2;
  line-height: 23px;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: Oss;
}

#page-wrapper {
  padding-top: 25px;
  background-color: #fff;
  border-left: solid 1px #e0e4f6;
  border-right: solid 1px #e0e4f6;
}

#product-page .description table, #product-page .description tbody {
  background: transparent;
  width: 100% !important;
}

#product-page .discount-corner {
  right: -12px;
}

#product-page .price {
  padding: 17px 15px 23px;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: inset 0 -3px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(192, 196, 215, 0.25);
  border: solid 1px #e0e4f6;
  margin-bottom: 15px;
}

#product-page .payment-info {
  background: #fff;
  margin-bottom: 37px;
}

#product-page .payment-info .payment-info-title {
  font-family: Ossb;
  padding: 10px 12px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.57);
  font-size: 16px;
  border-radius: 2px;
}

#product-page .payment-info .payment-info-body {
  background: #fff;
  height: 75px;
  border: solid 1px #e0e4f6;
  border-top: none;
  padding: 10px 10px 8px;
  box-shadow: inset 0 -2px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(192, 196, 215, 0.25);
}

#product-page .payment-info .payment-info-body img {
  margin: 4px 0;
  width: 100%;
}

#product-page .nav-tabs > li.active > a::before {
  border-bottom: solid 1px #2990d9;
  content: " ";
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
}

#product-page .nav-tabs > li:hover > a, #product-page .nav-tabs > li.active > a {
  border-color: transparent;
}

#product-page .tab-content > .tab-pane {
  padding: 20px 0;
}

#product-page .nav-tabs > li > a {
  font-family: Ossb;
  display: block;
  font-size: 16px;
  padding-bottom: 6px;
  color: #283346;
  position: relative;
}

#product-page .short-description {
  margin: 0 0 25px;
}

#product-page .box {
  position: relative;
}

#product-page .represent {
  padding-left: 6px;
  padding-right: 6px;
}

.slider img {
  width: 100%;
}

.description {
  color: #283346;
  line-height: 22px;
  font-size: 14px;
  font-family: Os;
  border-top: dotted 1px #e0e4f6;
  padding-top: 25px;
}

img {
  max-width: 100%;
}

.products-list {
  padding: 35px 0;
}

#breadcrumbs {
  display: block;
  font-family: Os;
  font-size: 13px;
  padding-bottom: 7px;
}

#breadcrumbs a, #breadcrumbs span {
  color: #96A1A8;
}

#breadcrumbs li {
  display: inline;
}

#breadcrumbs li::after {
  content: "\F13E";
  display: inline-block;
  font: normal normal normal 11px/15px "Material Design Icons";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 6px;
  position: relative;
}

#breadcrumbs li:last-child::after {
  display: none;
}


.discounted::before {
  content: "";
  border-top: solid 2px #f00;
  width: 100%;
  position: absolute;
  top: 49%;
  left: 0;
}

.discounted {
  display: inline-block;
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0 10px;
}

button.green-btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#product-page .simple-price, #product-page .discount-price, #product-page .discount {
  font-family: Ossb;
  font-size: 16px;
}

.discount-price, .primary-price, #product-page .discount-price, #product-page .primary-price {
  font-size: 24px;
}

.simple-price, .discount-price, .discount {
  position: relative;
  text-align: center;
  clear: both;
}

.simple-price .ask-out-manager, .discount-price .ask-out-manager, .discount .ask-out-manager {
  font-size: 15px;
  position: relative;
  top: 1px;
}

.quantity {
  position: absolute;
  width: 45px;
  left: 0;
}

.quantity i {
  cursor: pointer;
}

.quantity .plus {
  top: -2px;
}

.quantity .plus, .quantity .minus {
  position: absolute;
  font-size: 21px;
  line-height: 22px;
  right: -19px;
}

.quantity .minus {
  bottom: -2px;
}

.quantity-control {
  width: 40px;
  height: 40px;
  text-align: center;
}

.add-to-cart-form {
  position: relative;
  padding-left: 72px;
  margin-bottom: 10px;
}

.add-to-cart-form button {
  text-transform: lowercase;
  font-family: Rbb;
  font-size: 20px;
  padding-top: 1px;
  padding-bottom: 5px;
}

.green-btn {
  color: #fff;
  background-color: #4cd530;
  background-image: linear-gradient(to bottom, #7ede50, #00c700);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7ede50', endColorstr='#ff00c700', GradientType=0);
  border: solid 1px #02c701;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.34);
  box-shadow: inset 0 -3px 0px 0px #18a114;
}

.green-btn:hover {
  color: #fff;
}

.promotion-discount {
  font-size: 14px;
  font-family: Ossb;
  text-decoration: underline;
  margin-bottom: 31px;
  display: block;
  background: transparent;
  width: 100%;
  border: none;
  text-align: left;
  margin-top: -5px;
}

.title {
  font-family: Ossb;
  display: block;
  border-bottom: solid #e0e4f6 1px;
  font-size: 18px;
  margin: 0 0 6px;
  padding-bottom: 6px;
  color: #283346;
}

#page {
  padding-top: 3px;
  padding-bottom: 70px;
}



.border-row {
  border-bottom: 1px solid #e0e4f6;
  margin: 0;
  padding: 10px 0;
  color: #868ca7;
}

.btn-xl {
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-family: Ossb;
  font-size: 17px;
  padding-bottom: 5px;
  display: block;
  padding: 1px 36px;
  text-align: center;
  line-height: 34px;
  border: none;
}

.category-avatar-link {
  display: block;
  position: relative;
  text-align: center;
}

.category-avatar-link .avatar {
  margin-bottom: 10px;
  overflow: hidden;
  height: 240px;
  line-height: 225px;
  position: relative;
}

.category-avatar-link .avatar img {
  max-height: 100%;
}

.product-wrapper {
  border-radius: 2px;
  border: 1px solid #e0e4f6;
  background: #fff;
  min-height: 365px;
  padding: 29px 29px 35px;
  position: relative;
  margin-bottom: 20px;
}

.product-wrapper .discount, .product-wrapper .simple-price .discounted {
  color: #283346;
  font-size: 13px;
}

.product-wrapper .add-to-cart-btn {
  margin-bottom: 15px;
}

.product-wrapper .product-name-wrapper {
  min-height: 115px;
}

.product-wrapper .simple-price, .product-wrapper .discount-price, .product-wrapper .discount {
  text-align: left;
  padding: 0;
}

.product-wrapper .simple-price {
  padding: 0 9px;
  min-height: 20px;
}

.product-wrapper .price {
  height: 93px;
}

.discount-corner {
  position: absolute;
  background: transparent url(../images/8.png) bottom right;
  height: 48px;
  width: 83px;
  right: -13px;
  top: 6px;
  font-size: 24px;
  text-align: center;
  color: #fff;
  font-family: Osb;
  z-index: 6;
}

.pagination-wrapper i {
  margin-left: 0;
}

.border-top {
  border-top: solid 1px #e0e4f6;
}

.back-row {
  margin-top: -20px;
}

.err {
  margin: 150px 0;
  text-align: center;
  color: #d03953;
  font-family: Osb;
  text-transform: uppercase;
  font-size: 22px;
}

.subcategory-wrapper {
  border-radius: 4px;
  box-shadow: inset 0 -3px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(192, 196, 215, 0.25);
  background: #fff;
  min-height: 365px;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
  border: solid 1px #e0e4f6;
}

.subcategory-wrapper .avatar img {
  width: auto;
  max-height: 100%;
}

.subcategory-wrapper .category-name-wrapper {
  height: 130px;
  padding: 0;
  text-align: right;
  overflow: hidden;
  margin: 0 13px 15px;
}

.subcategory-wrapper .subtitle {
  font-size: 13px;
  margin-top: 7px;
  color: #a0a6c5;
}

.subcategory-wrapper .avatar {
  margin-bottom: 14px;
  height: 232px;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid #dd3e3e;
  text-align: center;
  line-height: 215px;

}

.subcategory-wrapper h2 {
  color: #0c588f;
  font-size: 14px;
}

.subcategory-wrapper .avatar::after {
  border-bottom: solid 4px #146ba9;
  position: absolute;
  bottom: -8px;
  width: 100%;
}

.footer-a {
  padding: 10px;
  background: #146ba9;
  color: #fff;
  line-height: 14px;
  text-align: Center;
  border-top: solid 4px #0c588f;
}

.footer-b {
  text-align: Center;
  background: #ebebeb;
  margin: 0 auto;
  font-size: 11px;
  font-weight: bold;
  padding: 10px 0 10px 40px;
}

.footer-c {
  border-top: 1px solid #eaeaea;
  background: #fafafa;
  color: #ccc;
  padding: 15px 10px 15px 20px;
}

.footer-c li {
  display: inline-block;
  padding: 4px;
  font-size: 12px;
}

.footer-c a {
  color: #abafc2;
}

.footer-c ul {
  text-align: center;
}

.footer-g {
  color: #868ca7;
  font-size: 11px;
  padding: 15px;
  background: #fff;
}



.categories-list {
  border-bottom: 1px solid #e0e4f6;
  padding-bottom: 50px;
  margin-bottom: 20px;
}


#user-corner button, #cart-corner button {
  background: transparent;
  border: none;
  text-align: right;
  color: #fff;
}

.box .title {
  font-family: Ossb;
  padding: 0 8px 15px;
  color: #146ba9;
  border-bottom: none;
  margin-bottom: 0;
}

.widget-title {
  font-family: Ossb;
  color: #c43953;
  font-size: 16px;
  padding: 10px 0 20px;
}

#search-form {
  margin-bottom: 20px;
}

#search-form .price-delimeter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  line-height: 35px;
}

#search-form .box {
  position: relative;
}

#search-form .delimeter {
  border-top: solid 1px #ebebeb;
  margin: 20px 0;
}

#search-form input[type="text"] {
  position: relative;
  z-index: 1;
}

.form-control.slight-fc {
  height: 37px;
}

#q {
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding: 6px 8px;
  margin-bottom: 27px;
}

#search-icon {
  border: none;
  background: transparent;
  position: absolute;
  top: 28px;
  right: 0px;
  font-size: 23px;
  color: #545454;
  transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

#search-icon i {
  margin: 0;
}

#search-icon:hover {
  color: #3b5998;
}

#search-btn {
  margin-top: 53px;
  width: 100%;
  padding: 6px 15px 8px;
  background: transparent;
  border: 1px solid #146ba9;
  color: #146ba9;
  border-radius: 3px;
  font-family: Ossb;
  margin-bottom: 60px;
}


#nav > li:hover > ul {
  visibility: visible !important;
  opacity: 1 !important;
  display: block !important;
}

.menu-row {
  width: 100%;
}

#auth-dialog .modal-body {
  padding: 15px 35px;
}

#auth-dialog .input-group .form-control:last-child {
  border-radius: 6px;
}

#auth-dialog a {
  color: #0f83d6;
}

#auth-dialog .form-control {
  height: 45px;
  padding: 6px 18px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e4e7ea;
}

#auth-dialog .input-group-addon {
  width: 49px;
  position: absolute;
  z-index: 4;
  height: 100%;
  line-height: 29px;
  font-size: 22px;
  border-radius: 6px 0 0 6px;
  border: 1px solid transparent;
  background: 0 0;
  right: 0;
  color: #b3b8bc;
}

#auth-dialog .input-group-addon i {
  font-size: 22px;
  margin-left: 0;
  color: #0d63a1;
}

#auth-dialog input[type=password], #auth-dialog input[type=text] {
  padding-right: 47px;
}

#auth-dialog button[type=submit] {
  padding: 7px 41px;
  margin-top: 55px;
}

#auth-dialog .input-group, #auth-dialog input[type=password], #auth-dialog input[type=text] {
  width: 100%;
}

#auth-dialog .error-container {
  color: #ff7573;
  margin-bottom: 10px;
  display: none;
}

#auth-dialog .modal-header {
  font-family: Ossb;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 35px;
  color: #0f83d6;
  text-align: center;
  border-bottom: none;
  font-family: Ossb;
  font-size: 24px;
}

#auth-dialog .modal-header span {
  color: #b3b8bc;
}

#auth-dialog .extra-title {
  font-family: Os;
  color: #464646;
}

#auth-dialog .modal-content {
  padding: 30px 0 45px;
}

#auth-dialog .modal-dialog {
  width: 420px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#auth-dialog .modal-inner {
  padding: 30px 0 45px;
  border-radius: 2px;
}


.btn-blue, .btn-blue:hover, .btn-blue:focus, .btn-blue:active {
  border: solid 1px #3b5998;
  color: #fff;
}

.btn-blue, .btn-blue:hover, .btn-blue:focus, .btn-blue:active, .gr-blue-bg {
  background: #0c588f;
  background-color: #0c588f;
  background-image: linear-gradient(to bottom, #0f84d7, #146ba9);
  background-repeat: repeat-x;
}

button.gr-blue-bg {
  color: #fff;
}

.with-icon .input-group-addon {
  top: 0;
  right: 0;
  z-index: 4;
  width: 45px;
  height: 45px;
  line-height: 32px;
  font-size: 19px;
  border: none;
  color: #5d5d5d;
  text-align: center;
  background: #e0e4f6;
}

.with-icon input[type="password"], .with-icon input[type="text"] {
  padding-right: 50px;
}

.input-group.with-icon {
  width: 100%;
}

.ez-parts-catalog-category-wrapper:hover h2 {
  color: #fff;
}

.ez-parts-catalog-category-wrapper:hover a::before {
  color: #fff;
}

.ez-parts-catalog-category-wrapper::before {
  border-radius: 4px;
}

tbody {
  background: #fff;
}

.ez-parts-catalog-category-wrapper {
  height: 100%;
}

.ez-parts-catalog-category-wrapper a {
  padding: 4px 25px 4px 50px;
  border: solid 1px #e0e4f6;
  position: relative;
  border-radius: 2px;
  display: block;
  height: 100%;
}



#slider {
  border: solid 1px #e0e4f6;
  margin-bottom: 15px;
  height: 480px;
  line-height: 435px;
  text-align: center;
  background: #fff;
  padding: 1px;
}

#slider img {
  width: auto;
  display: inline-block;
  max-height: 100%;
  z-index: 1;
}

.new-price {
  margin: 0px 0 3px;
}



.codes-wrapper {
  margin-bottom: 15px;
}

.head-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  width: 435px;
  background: #fff;
  border: 1px solid #e0e4f6;
  transition: all 0.3s ease;
  z-index: 4;
  left: 0;
  border-radius: 2px;
  color: #186697;
  font-size: 14px;
  text-align: left;
  max-height: 400px;
  overflow-y: auto;
}

.head-dropdown .inner {
  padding: 9px 15px;
}

#cart-layout {
  left: -44px;
}

#cart-layout .delete-product {
  right: 0;
  color: #cfcfcf;
  transition: all 0.15s ease;
}

#cart-layout .delete-product:hover {
  color: #146ba9;
}

#cart-corner .drop-cart-icon {
  transition: 0.1s;
}

#cart-corner #cart-totals {
  padding: 15px 0 10px;
}

#user-layout {
  width: 207px;
}

.header-col:hover .head-dropdown {
  display: block;
}

#cart-corner:hover::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: solid 10px #ffffff;
  position: absolute;
  bottom: -2px;
  z-index: 43;
  right: -1px;
}

#cart-is-empty i {
  line-height: 23px;
  font-size: 17px;
  cursor: pointer;
}

.empty {
  display: none;
}

.wrapper-of-empty .empty {
  display: block;
}

.wrapper-of-empty .not-empty {
  display: none;
}

.cart-product {
  width: 100%;
  min-height: 85px;
  line-height: 70px;
  margin-bottom: 5px;
  border-bottom: solid 1px #e0e4f6;
  padding: 5px 0 10px;
}

.cart-product-avatar, .cart-complex-avatar {
  width: 75px;
  height: 75px;
  padding: 3px 0;
  float: left;
  position: relative;
  text-align: center;
  border: solid 1px #f1f3ff;
}

.cart-product-avatar a, .cart-complex-avatar a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  line-height: 70px;
}

.cart-product-avatar img, .cart-complex-avatar img {
  max-height: 100%;
}

#go-to-cart {
  background: #2583d3;
  padding: 5px 15px;
  border-radius: 4px;
}

.cart-product-title-wrapper {
  float: left;
  width: 180px;
  padding: 0 16px;
}

.cart-product-actions-wrapper {
  width: 25px;
  float: left;
  text-align: right;
}

.cart-product-title {
  line-height: 16px;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  color: #146ba9 !important;
}

.cart-product-quantity-wrapper {
  float: left;
  font-size: 14px;
  font-family: Oss;
  width: 97px;
  text-align: right;
  color: #de2549;
}

.cart-product-price {
  font-family: Osb;
  color: #6e6e6e;
}

.cart-totals-bold {
  font-family: Ossb;
  font-size: 15px;
  text-transform: lowercase;
  color: #7c7c7c;
}

.cart-product-total {
  color: #7c7c7c;
  font-family: Osxb;
}

.prototype {
  display: none;
}

.barcode-row {
  margin-bottom: 30px;
  text-align: right;
  display: none;
}

.barcode-row img {
  width: 100%;
}

.btn-deprecated {
  border-radius: 2px;
  color: #fff;
  background: #146ba9;
  position: relative;
  cursor: default;
  padding: 1px 12px;
}

.alpha-text {
  color: #5d5d5d;
}

#payment-page h1 {
  border-bottom: none;
}

#payment-page .payment-avatar {
  position: absolute;
  top: 90px;
  right: 30px;
  width: 60px;
  height: 60px;
}

.attention-panel {
  position: relative;
  margin-bottom: 20px;
  padding: 0px 0 23px 47px;
  font-size: 17px;
  i {
    width: 45px;
    font-size: 24px;
    line-height: 46px;
    position: absolute;
    top: 0;
    left: 8px;
    color: #2e8dd7;
  }
}


#payment-page #payments-list {
  margin-bottom: 50px;
  border-bottom: solid 1px #e0e4f6;
  min-height: 600px;
  padding-bottom: 23px;
}

#payment-page .tab-item {
  padding: 20px 160px 20px 15px;
}

.static-page h1 {
  font-size: 20px;
  margin-bottom: 0;
  border-bottom: none;
  font-family: Ossb;
  color: #5d5d5d;
}

.static-page h2 {
  margin-top: 60px;
  color: #c63a55;
}

.static-page h2:first-child {
  margin-top: 30px;
}

.tab-item {
  padding: 20px 15px;
  font-size: 14px;
  position: relative;
}

.tab-item-content-title {
  font-family: Ossb;
  font-size: 16px;
  margin-top: 28px;
}

.font-12 {
  font-size: 12px;
}

#static-page table {
  border-spacing: 1px;
  border: solid 1px #e0e4f6;
}

#static-page tbody, #static-page td, #static-page th, #static-page table {
  border-color: #e0e4f6;
}

#static-page td {
  padding: 6px 12px;
  text-align: center;
}

#static-page th {
  padding: 10px 12px;
  text-align: center;
}

#static-page thead {
  background: #f5f5f5;
}

#static-page td:first-child, #static-page th:first-child {
  text-align: left;
}

#static-page ul li::before {
  content: "- ";
  margin-right: 3px;
}

#static-page ul.nav li::before {
  display: none;
}


.product-information .info-row {
  margin-top: 11px;
}

.product-information .info-row-light {
  margin-top: 4px;
}

.product-information .value-col {
  padding-left: 0;
}

.product-information .value-col a:hover {
  text-decoration: underline;
}

.product-information .value-col a:hover h2 {
  text-decoration: underline;
}

.product-information .value, .order-details-value {
  margin: 0;
  color: #283346;
  font-size: 15px;
  font-weight: normal;
  font-family: Rb;
}

.product-information .cat-link {
  margin-left: 6px;
}

.product-information .cat-link:first-child {
  margin-left: 0;
}

.product-information .key, .order-details-key {
  color: #868ca7;
}

#user-corner:hover .drop-cart-icon::before {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

#user-corner {
  padding-right: 15px;
}

#user-layout {
  width: 100%;
}

.article-item {
  border-bottom: solid 1px #e0e4f6;
  padding-bottom: 45px;
  margin-bottom: 45px;
  position: relative;
}

.article-item .time {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  font-family: Os;
  color: #5d5d5d;
  line-height: 27px;
  border: solid 1px #e0e4f6;
  padding: 5px 12px;
  border-radius: 2px;
}

.article-item .time i {
  margin-right: 10px;
}

.article-item .title {
  border-bottom: none;
  padding-right: 195px;
  padding-bottom: 26px;
}

.article-item .article-content {
  font-size: 14px;
  padding: 15px 5px;
}

.images-list-wrapper {
  height: 100px;
  padding: 8px 58px;
  position: relative;
  border: solid 1px #e0e4f6;
  box-shadow: inset 0 -2px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(192, 196, 215, 0.25);
  margin-bottom: 15px;
}

.images-list {
  overflow: hidden;
}

.images-list .images-container {
  position: relative;
  height: 80px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.images-list .image-wrapper {
  height: 80px;
  width: 115px;
  overflow: hidden;
  text-align: center;
  border: solid 1px #e0e4f6;
  margin: 0 7px;
  float: left;
  background: #fff;
}

.images-list .image-wrapper img {
  height: 80px;
  max-width: 200px;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}

.slide-action {
  position: absolute;
  top: 0;
  line-height: 93px;
  font-size: 33px;
  color: #146ba9;
  cursor: pointer;
}

.slide-left {
  left: 10px;
}

.slide-right {
  right: 10px;
}

.red {
  color: #dd3e3e;
}

.codesRow {
  font-family: Ossb;
  height: 48px;
}

.codesRow span {
  color: #8790c7;
  margin-right: 5px;
  font-size: 13px;
}

.codesRow a::after {
  content: ",";
  color: #333;
}

.codesRow a:last-child {
  margin-right: 0;
}

.codesRow a:last-child::after {
  content: "";
}

.button-link {
  background: transparent;
  border: none;
  padding: 0;
  text-align: left;
  color: #c63854;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  float: left;
  margin-bottom: 0;
  width: 20px;
  margin-right: 11px;
  min-height: 20px;
  position: relative;
}

input[type="checkbox"] + label::before {
  content: "";
  border: solid 1px #dddfe1;
  border-radius: 2px;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

input[type="checkbox"] + label::after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 2.5px;
  color: #5d5d5d;
  content: "\F12C";
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transition: all 0.3s ease;
  font-size: 14px;
}

input[type="checkbox"]:checked + label::after {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

.cart-product-percent-sale {
  position: absolute;
  bottom: -1px;
  right: -1px;
  background: url(../images/blue-stripe.png);
  background-size: 100% 100%;
  width: 80px;
  height: 26px;
  line-height: 23px;
  color: #fff;
  text-align: left;
  font-family: Osb;
  padding: 0 10px 0 10px;
}

table {
  width: 100%;
}

.checkout-avatar {
  width: 100px;
  text-align: center;
  position: relative;

}

.checkout-avatar img {
  height: 94px;
  border-radius: 3px;
}

.checkout-title {
  width: 205px;
  text-align: left !important;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.checkout-price {
  text-align: center;
  width: 150px;
}

.checkout-quantity:hover .quantity .plus, .checkout-quantity:hover .quantity .minus {
  opacity: 1;
}

.checkout-quantity {
  width: 63px;
  text-align: center;
  position: relative;
}

.checkout-quantity input {
  border-radius: 2px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 48px;
  height: 33px;
  font-size: 13px;
  text-align: center;
}

.checkout-quantity .quantity .plus, .checkout-quantity .quantity .minus {
  font-size: 28px;
  right: 0;
  left: 0;
  color: #c2c4cf;
  line-height: 9px;
  opacity: 0;
  transition: all 0.3s ease;
}

.checkout-quantity .quantity .minus {
  bottom: -11px;
}

.checkout-quantity .quantity .plus {
  top: -11px;
}

.checkout-discount {
  text-align: center;
}

.profile-row-a {
  min-height: 285px;
}

.inline-btn {
  width: auto;
  display: inline-block;
}

.checkout-total {
  text-align: center;
}

.checkout-total p {
  margin-bottom: 0;
}

td.checkout-total {
  text-align: center;
  width: 130px;
  position: relative;
}

.grid-table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-table tbody td {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 94px;
  font-size: 13px;
}

#cart-products-table .quantity {
  width: 45px;
  position: relative;
  display: inline-block;
}

#cart-products-table p {
  margin-bottom: 0;
}

#cart-products-table a {
  color: #146ba9;
}

#cart-products-table .final-price {
  color: #5e647d;
  font-family: Ossb;
  padding: 0 5px;
  font-size: 14px;
  line-height: 14px;
}

#cart-corner > a {
  width: 171px;
  display: inline-block;
}

#checkout-step-btn {
  display: inline-block;
  width: auto;
  margin-top: 25px;
}

.no-discount-line {
  position: relative;
  display: inline-block;
  padding: 0 5px;
}

td.checkout-price, td.checkout-total {
  color: #858585;
}

td.checkout-price .total-base-price, td.checkout-price .product-base-price, td.checkout-total .total-base-price, td.checkout-total .product-base-price {
  font-size: 12px;
}

.no-discount-line::before {
  content: "";
  position: absolute;
  height: 1px;
  background: #ff0000;
  top: 50%;
  left: 0;
  right: 0;
}

.delete-product {
  position: absolute;
  top: 50%;
  font-size: 19px;
  right: 10px;
  line-height: 1px;
  cursor: pointer;
  margin-top: -2px;
  color: #c0c0c0;
}

.simple-err {
  font-size: 18px;
  color: #444;
  text-transform: none;
  font-family: Ossb;
}

.checkout-totals {
  color: #4b4b72;
  text-transform: lowercase;
  margin: 70px 0 30px;
}

.checkout-row {
  position: relative;
  padding: 12px 0 12px;
  border-bottom: solid 1px #e4e7ea;
  margin: 0 5px;
}

.checkout-row:last-child {
  border-bottom: none;
}

.slight-fc-pre.phone-wrapper::before {
  line-height: 37px;
}

.checkout-key {
  float: left;
  width: 135px;
  position: absolute;
  top: 0;
  left: 0;
  color: #868ca7;
  font-size: 16px;
  padding-top: 13px;
  font-family: Oss;
}

.checkout-value {
  float: right;
  width: 100%;
  padding-left: 145px;
  text-align: right;
}

.silver-btn {
  color: #fff;
  background-color: #989db6;
  background-image: linear-gradient(to bottom, #b3b8d1, #8b90aa);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7ede50', endColorstr='#ff00c700', GradientType=0);
  border: solid 1px #9398b2;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.34);
  box-shadow: inset 0 -3px 0px 0px #707590;
}

.ez-parts-catalog .categories-list {
  min-height: 0;
}

.ez-parts-catalog-page #slider {
  height: auto;
}

.ez-parts-catalog-page #slider img {
  width: 100%;
}

.ez-parts-catalog-page #parts-row tbody {
  border: solid 1px #dfe2f0;
}

#category-page.ez-parts-catalog h2 {
  text-transform: none;
}

#category-page.ez-parts-catalog .product-wrapper {
  min-height: 315px;
  padding: 15px 26px 15px;
}

#category-page.ez-parts-catalog .product-wrapper .product-name-wrapper {
 // min-height: 80px;
  text-align: center;
}

.parts-table thead {
  border-color: #cacaca;
  border-bottom: solid;
  border-bottom-color: #cacaca;
  border-left: solid;
  border-left-width: 1px;
  border-left-color: #cacaca;
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #cacaca;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #cacaca;
  border-bottom: solid 2px #c1c1c1;
}

.parts-table th {
  font-family: Ossb;
  color: #616161;
  background: #f1f1f1;
  border-left: solid 1px #cacaca;
  border-right: solid 1px #cacaca;
  font-size: 16px;
  text-transform: lowercase;
}

.parts-table td, .parts-table th {
  padding: 12px 6px;
  text-align: center;
  border: solid 1px #e1e1e1;
  color: #283346;
}

.parts-table td p, .parts-table th p {
  margin: 0;
}

.parts-table td {
  font-size: 14px;
  font-family: Oss;
}

.parts-table .part-number {
  width: 30px;
}

.parts-table .part-price {
  width: 115px;
  text-align: center;
}

.parts-table .part-class {
  width: 48px;
}

.parts-table .part-code {
  width: 48px;
}

.parts-table .part-hint {
  font-size: 13px;
}

.parts-table .part-title {
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
}

.parts-table .part-price-wrapper {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 17px;
  font-family: Ossb;
}

.parts-table .part-discount-price {
  font-size: 13px;
  margin-bottom: 3px;
}

.parts-table .part-price-row {
  height: 17px;
  overflow: hidden;
  white-space: nowrap;
  line-height: 17px;
}

.parts-table .part-discount-price::before {
  position: absolute;
  top: 50%;
  background: #f00;
  height: 1px;
  width: 100%;
  left: 0;
}

.parts-table td:first-child {
  border-left: none;
}

.parts-table td:last-child {
  border-right: none;
}

.parts-table tr:last-child td {
  border-bottom: none;
}

.parent-parts-table td, .parent-parts-table th {
  padding: 12px 20px;
  text-align: left;
}

button.medium-btn {
  font-family: Ossb;
  text-align: left;
  padding: 7px 20px 10px 20px;
}

button.medium-btn i {
  float: right;
  font-size: 19px;
  line-height: 19px;
}

.auth-helpers {
  line-height: 28px;
}

#pwd-btn {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Rb;
  font-size: 17px;
}

#pwd-btn-wrapper {
  padding-left: 0;
}


.discounts-doesnt-stack {
  font-size: 11px;
  margin-bottom: 5px;
}



.buy-in-one-click-wrapper {
  margin-top: 25px;
  margin-bottom: 10px;
}

.buy-in-one-click {
  text-align: left;
  text-transform: lowercase;
  font-family: Rbb;
  font-size: 20px;
  line-height: 1px;
  padding: 0 39px 5px 39px;
}

.common-contacts {
  padding: 0px 15px 0;
}

.local-contacts, .common-contacts {
  float: left;
  width: 100%;
  line-height: 27px;
}

.local-contacts .group, .common-contacts .group {
  position: relative;
}

.local-contacts .key, .common-contacts .key {
  width: 215px;
  padding-right: 15px;
  position: absolute;
  font-size: 14px;
}

.local-contacts .value, .common-contacts .value {
  width: 100%;
  padding-left: 215px;
}

.local-contacts span.highlight, .common-contacts span.highlight {
  color: #7f9eb5;
  font-size: 16px;
  line-height: 20px;
}

.local-contacts .contact-hint, .common-contacts .contact-hint {
  font-family: Oss;
  font-size: 14px;
  color: #8c8c8c;
  margin-left: 15px;
}

.contact-map-wrapper {
  width: 100%;
  height: 430px;
  border: solid 1px #e0e4f6;
  float: left;
  margin-top: 50px;
}

.contact-map {
  height: 430px;
  float: left;
  width: 100%;
  position: relative;
}

.usertype-block {
  display: none;
}

.usertype-block.active {
  display: block;
}

.contact-entrance-preview {
  margin-top: 50px;
  float: left;
  width: 100%;
}

.contact-entrance-preview img {
  width: 100%;
}

.preloader {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -115px;
}

.usertype-block {
  float: left;
  padding: 30px 0;
  margin: 30px 0;
  border-top: solid 1px #e0e4f6;
  margin-left: 15px;
  margin-right: 15px;
}

.userform .control-label {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 45px;
}

.userform .control-label::after {
  content: ":";
}

.userform .input-group {
  position: relative;
  padding-left: 160px;
}

.userform .large-input-group .input-group {
  padding-left: 370px;
}

.userform .correspond-row {
  margin-top: 60px;
}

#buy-in-click-dialog .modal-body {
  padding: 20px 35px;
}

#buy-in-click-dialog .modal-dialog {
  width: 470px;
}

.buy-in-click-product {
  min-height: 100px;
  position: relative;
  margin: 20px 0 30px;
  padding-left: 100px;
  font-family: Ossb;
  font-size: 16px;
}

.buy-in-click-product .title-wrapper {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}

.buy-in-click-product-title {
  line-height: 82px;
}

.buy-in-click-product-avatar {
  width: 88px;
  height: 88px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.buy-in-click-product-avatar img {
  max-height: 100%;
}

.buy-in-click-phone-wrapper {
  margin-bottom: 15px;
}

.buy-in-click-phone-wrapper span {
  float: left;
  width: 40%;
  line-height: 45px;
  font-size: 18px;
}

.buy-in-click-phone-wrapper .phone-wrapper {
  float: left;
  width: 60%;
}

.buy-in-click-phone-wrapper .phone-wrapper::before {
  font-size: 18px;
}

.buy-in-click-phone-wrapper input.phone {
  font-size: 18px;
  height: 45px;
  padding-left: 45px;
}

.buy-in-click-phone-wrapper p, .checkout-modal-gift-desc {
  margin: 10px 0;
  font-size: 13px;
  color: #a8a8a8;
  font-style: italic;
}

.buy-in-click-phone-wrapper.phone-wrapper::before {
  font-size: 21px;
}

.buy-in-click-comfortable-time {
  font-family: Ossb;
  font-size: 14px;
  color: #979797;
  display: none;
}

.buy-in-click-comfortable-time p {
  margin: 0 0 5px;
}

.buy-in-click-comfortable-time.active {
  display: block;
}

.buy-in-click-comfortable-time-inputs {
  margin-top: 10px;
  padding-bottom: 35px;
}

.buy-in-click-comfortable-time-inputs input[type=text] {
  width: 90px;
  float: left;
  height: 37px;
  text-align: center;
}

.buy-in-click-delimeter {
  float: left;
  width: 30px;
  text-align: center;
  line-height: 37px;
}

.orange {
  color: #ff5a0c;
}

#buy-in-one-click-submit {
  text-transform: lowercase;
  font-family: Osb;
  font-size: 19px;
  padding-left: 30px;
  padding-right: 30px;
}


.checkout-key, .checkout-value {
  display: inline-block;
}



ul.header-menu {
  display: table;
  width: 100%;
  text-transform: lowercase;
  border-radius: 3px 0 0 3px;
  background: #146ba9;
  border-bottom: solid 4px #0c588f;
  margin-bottom: 15px;
}

ul.header-menu li::before {
  content: "";
  height: 14px;
  width: 1px;
  position: absolute;
  top: 13px;
  right: -1px;
  background: rgba(255, 255, 255, 0.23);
  transition: all 0.3s ease;
  z-index: 1;
}

ul.header-menu li:last-child::before {
  display: none;
}

ul.header-menu li {
  display: table-cell;
  text-align: center;
  position: relative;
  height: 38px;
  line-height: 38px;
  z-index: 2;
  transition: background 0.3s ease;
}

ul.header-menu li a {
  color: #fff;
  font-size: 16px;
  display: block;
}

ul.header-menu li:hover, ul.header-menu li.active {
  background: #0c588f;
}

ul.header-menu li:hover::before, ul.header-menu li.active::before {
  display: none;
}

.offset-group {
  position: relative;
  margin-top: -48px;
  right: -1px;
}

.sidebar-left {
  margin-left: -16px;
}

#sidemenu > ul > li:hover > a, #sidemenu > ul > li.active > a {
  padding-left: 7px;
}

#sidemenu > ul > li:hover > a .title, #sidemenu > ul > li.active > a .title {
  color: #146ba9;
}

#sidemenu > ul > li > a {
  display: block;
}

#sidemenu > ul > li:first-child > ul.childs {
  top: 0;
}

#sidemenu > ul > li:first-child > ul.childs > .childs-wrapper::before {
  top: -10px;
}

#sidemenu ul.childs.columns-3 {
  width: 800px;
}

#sidemenu ul.childs.columns-3 .column {
  width: 33.3%;
  float: left;
}

#sidemenu .column {
  z-index: 65;
  position: relative;
  background: #fff;
}

#sidemenu ul.childs {
  display: none;
  position: absolute;
  top: -27px;
  left: 100%;
  padding-left: 2px;
  width: 410px;
  z-index: 70;
}

#sidemenu ul.childs a:hover .title, #sidemenu ul.childs li.active > a > .title {
  color: #146ba9;
}

#sidemenu ul.childs .column > .title {
  padding: 0 27px;
  margin-bottom: 15px;
}

#sidemenu ul.childs .column > .title a {
  font-family: Osb;
  border-bottom: solid 3px #146ba9;
  display: block;
  padding: 9px 3px;
  color: #444;
}

#sidemenu ul.childs .column > .title a:hover {
  color: #444;
}

#sidemenu ul.childs li {
  padding: 9px 30px;
}

#sidemenu ul.childs .childs-wrapper {
  border-radius: 3px;
  background: #fff;
  box-shadow: inset 0 0px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(192, 196, 215, 0.25);
  position: relative;
  padding: 18px 0;
  border: solid 1px #f6f6f6;
}

#sidemenu ul.childs .childs-wrapper::before {
  content: "\F35E";
  display: inline-block;
  font: normal normal normal 61px/1 "Material Design Icons";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 17px;
  left: -35px;
  cursor: pointer;
  color: #fff;
  text-shadow: 0 0 1px #ced2e3;
}

#sidemenu ul.childs .title {
  color: #868ca7;
  font-family: Rb;
}

#sidemenu .menu-icon {
  position: absolute;
  top: 0;
  right: 0;
}

#sidemenu .title {
  font-size: 15px;
  border-bottom: none;
  margin: 0;
  padding: 0;
  color: #5c77a4;
}

#sidemenu > ul > li {
  padding: 9px 35px 9px 30px;
  margin: 0 -30px;
  position: relative;
}

#sidemenu > ul > li.has-childs::after {
  content: "\F35F";
  display: inline-block;
  font: normal normal normal 21px/1 "Material Design Icons";
  text-rendering: auto;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

#sidemenu .blue-bg {
  background: #146ba9;
  border-bottom: solid 4px #0c588f;
}

#sidemenu > ul > li.blue-bg::after, #sidemenu > ul > li.blue-bg > a > .title {
  color: #fff;
}

.with-icon {
  position: relative;
}

.with-icon::after {
  display: none;
  font: normal normal normal 18px/1 "Material Design Icons";
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  content: "\F5E0";
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 13px;
  right: 10px;
  z-index: 6;
  color: #0bc907;
}

.with-icon.invalid::after {
  content: "\F028" !important;
  color: #ff6e6e !important;
  display: inline-block;
}

.with-icon.success::after {
  display: inline-block;
}

@media(min-width: 992px)  {
  #sidemenu > ul > li.has-childs:hover > .childs {
    display: block;
  }
  #sidemenu > ul > li:first-child > ul.childs > .childs-wrapper::before {
    display: none;
  }
  #sidemenu ul.childs .childs-wrapper {
    border-radius: 0;
  }
}

.post-description-info {
  color: #5d5d5d;
  font-size: 15px;
  font-family: Rb;
}

.post-description-info .title {
  padding: 35px 0 4px;
  color: #868ca7;
  font-family: Rb;
  font-size: 17px;
}

.post-description-info .title:first-child {
  padding-top: 0;
}

.free-call-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 11px;
  font-family: Ossb;
  text-align: center;
  opacity: 0.85;
}

.contacts {
  margin: 0 30px 0 215px;
  padding: 10px 20px 0;
  font-size: 13px;
  color: #fff;
  font-family: Ossb;
  text-shadow: 0 0 1px #0c588f;
  position: relative;
  height: 172px;
}

.contacts .phone {
  font-size: 15px;
  font-family: Osb;
  margin-top: 1px;
}

.contacts .desc {
  font-size: 11px;
}

.contacts .desc a {
  color: #97edff;
  text-decoration: underline;
}

.contacts .contact-row {
  margin-bottom: 5px;
  padding-left: 40px;
  position: relative;
}

.contacts .contact-row i {
  background: white;
  padding: 6px 8px;
  border-radius: 4px;
  color: #647b9b;
  position: absolute;
  left: 0;
  top: 4px;
}

.phone-wrapper::before {
  content: "+7";
  position: absolute;
  top: 0;
  left: 15px;
  color: #444;
  z-index: 13;
  line-height: 46px;
}

.phone-wrapper {
  position: relative;
}

.phone-wrapper .phone {
  padding-left: 37px;
}

.search-filter-row {
  margin-bottom: 20px;
}

.product-instock i {
  color: #0bc907;
  font-size: 16px;
  line-height: 1px;
  position: relative;
  top: 1px;
  margin-left: 10px;
}

.product-tabs-wrapper {
  background: #fff;
  min-height: 700px;
}

.panel-border {
  box-shadow: inset 0 -3px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(192, 196, 215, 0.25);
  padding: 15px 8px;
  border: solid 1px #e0e4f6;
}

.blue-color {
  color: #146ba9;
}

ol {
  padding-left: 20px;
}

#return-info-page > div > ol > li {
  margin-left: 0;
}

#return-info-page ol {
  counter-reset: item;
  list-style-position: outside;
  margin: 10px 0 10px 0;
}

#return-info-page li {
  display: block;
  margin-left: 30px;
  line-height: 23px;
  margin-bottom: 10px;
}

#return-info-page ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

#external-offer-dialog .modal-dialog {
  width: 800px;
  border-radius: 4px;
}

#external-offer-dialog .modal-inner {
  border-radius: 8px 8px 6px 6px;
}

#external-offer-dialog .modal-header {
  text-align: left;
  font-family: Ossb;
  font-size: 18px;
  border-bottom: none;
  color: #fff;
  background: #3b5998;
  padding: 20px 35px;
  border-radius: 6px 6px 0 0;
}

#external-offer-dialog textarea {
  height: 100px;
  resize: none;
}

#external-offer-dialog .input-group {
  position: relative;
  padding-left: 250px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#external-offer-dialog .input-group label {
  width: 250px;
  padding-right: 15px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 44px;
}

#external-offer-dialog .input-group .form-control {
  display: block;
}

strong {
  font-family: Ossb;
  font-weight: normal;
}

.error-container-wrapper {
  min-height: 40px;
}

.silver-border {
  border: solid 1px #e0e4f6;
}

#page .sidebar-box {
  margin-bottom: 30px;
}

#page .side-product:last-child {
  border-bottom: none;
}

#page .side-product {
  padding: 20px 21px 55px;
  border-radius: 4px;
  font-size: 14px;
  margin: 0 -30px 0 -30px;
  position: relative;
  border-bottom: solid 1px #e0e4f6;
}

#page .side-product .simple-price {
  float: left;
  text-align: right;
  padding: 0 10px 0 0;
  width: 50%;
}

#page .side-product .discount-wrapper {
  float: left;
  padding: 0 0 0 10px;
  text-align: left;
  width: 50%;
  color: #dd3e3e;
  font-size: 18px;
  position: relative;
  top: -3px;
}

#page .side-product .discount-wrapper .discount-price {
  font-size: 20px;
  position: relative;
  font-family: Osb;
  text-align: left;
}

.side-product-avatar {
  text-align: center;
  height: 200px;
  padding: 10px 0;
}

.side-product-avatar img {
  height: 100%;
}

.side-product-title h5 {
  color: #0c588f;
  font-family: Ossb;
  font-size: 16px;
  text-align: center;
}

#buy-in-click-thanks {
  display: none;
}

.specific-font-one {
  font-style: italic;
  color: #989898;
  font-family: Oss;
}

.green-btn.blocked {
  background: #146ba9;
  box-shadow: inset 0 -3px 0px 0px #0c588f;
}

#buy-in-click-btn.blocked {
  cursor: default;
}

#buy-in-click-btn.blocked i::before {
  content: "\F5E0";
  position: relative;
  top: 1px;
}

.slider-heading {
  border-bottom: solid 3px #0c588f;
  font-size: 14px;
  padding: 13px 13px 8px;
  background: #146ba9;
  color: #fff;
  font-family: Ossb;
}

.slider-heading button {
  border: none;
  background: #ffffff;
  padding: 1px 15px 3px;
  margin-left: 15px;
  border-radius: 4px;
  color: #6a6a6a;
  position: relative;
  top: -1px;
  font-size: 13px;
}

.slider-heading button i {
  margin-right: 5px;
  position: relative;
  top: 1px;
}

img {
  opacity: 1;
  transition-delay: 0.3s;
  @include transition(all 0.3s ease);
}

img[data-src] {
  opacity: 0;
}

.not-found-image {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
}

.part-avatar {
  width: 40px;
}

.part-avatar img {
  width: 30px;
}

.vertical-align-wrapper {
  height: 100%;
}

.vertical-align-wrapper .vertical-align-container {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}

.vertical-align-wrapper::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.error-page {
  height: 100%;
}

.error-page body {
  height: 100%;
  padding-top: 0;
}

.error-page .error-page-heading {
  color: #146ba9;
  font-family: Osxb;
  font-size: 130px;
  text-align: center;
}

.error-page .error-page-description {
  color: #0c588f;
  font-family: Ossb;
  text-align: center;
  font-size: 21px;
}

.error-page .error-wrapper {
  margin-top: -200px;
}

.silver-box {
  padding: 11px 21px 13px;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: inset 0 -3px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(192, 196, 215, 0.25);
  border: solid 1px #e0e4f6;
  margin-bottom: 10px;
  font-family: Rb;
}

.complex-product {
  position: relative;
  padding: 0 30px 0 90px;
  line-height: 50px;
  margin: 0 -30px;
}

.complex-plus {
  margin: 10px 0 3px;
  text-align: center;
  color: #146ba9;
  font-size: 18px;
  line-height: 25px;
}

.complex-product-avatar {
  width: 45px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 30px;
  text-align: center;
}

.complex-product-avatar img {
  height: 100%;
  width: auto;
}

.complex-title {
  font-size: 14px;
  margin: 50px 0 10px;
  font-family: Oss;
  color: #545454;
}

.complex-product-title-wrapper {
  font-size: 15px;
  display: inline-block;
  line-height: 17px;
  vertical-align: middle;
}

.complex-product-title-wrapper a {
  color: #868ca7;
}

#complex-total {
  text-align: right;
  font-size: 14px;
  margin: 20px 0;
}

.complex-base-price {
  padding-right: 5px;
  font-size: 12px;
  line-height: 23px;
  color: #5d5d5d;
  font-family: Ossb;
  display: inline-block;
}

.complex-sales-price {
  padding-left: 5px;
  font-family: Ossb;
  font-size: 15px;
  display: inline-block;
  color: #5d5d5d;
}

#complex-base-price {
  padding: 0 5px;
  position: relative;
  display: inline-block;
}

#complex-base-price::before {
  content: "";
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #f00;
}

#complex-final-price {
  color: #ff1d1d;
  font-family: Osb;
  font-size: 21px;
}


#complex-select {
  height: 42px;
}

.complex-arrow {
  position: absolute;
  line-height: 41px;
  top: 0;
  font-size: 25px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.complex-arrow:hover {
  color: #146ba9;
}

.complex-left {
  left: -26px;
}

.complex-right {
  right: -26px;
}

.product-quantity-span {
  display: inline-block;
  width: 100%;
  line-height: 16px;
  vertical-align: middle;
}

.cart-complex {
  border-bottom: solid 1px #e0e4f6;
  position: relative;
  line-height: 145px;
  padding: 5px 0 10px;
}

.cart-complex .cart-complex-avatar {
  height: auto;
  text-align: center;
  line-height: 51px;
  padding-bottom: 10px;
}

.cart-complex .cart-product-avatar {
  width: 51px;
  height: 51px;
  padding: 3px 12px;
  display: inline-block;
  float: none;
  border: none;
}

.cart-complex.3-items .cart-complex-title-wrapper {
  line-height: 140px;
}

.cart-complex.3-items .cart-product-quantity-wrapper {
  margin-top: 15px;
}

.product-gift {
  margin: 0 -15px 15px;
  padding: 5px 0 5px 85px;
  border-bottom: solid 1px #e0e4f6;
  position: relative;
  min-height: 100px;
}

.product-gift:last-child {
  border-bottom: none;
}

.product-gift-title {
  text-align: left;
  padding: 12px 5px 23px 27px;
  font-size: 14px;
  background: url(../images/8.png);
  color: #fff;
  background-size: 100% 100%;
  position: relative;
  margin-right: -29px;
  font-family: Ossb;
}

.product-gift-title a {
  color: #fff;
}

.product-gift-price {
  text-align: right;
  position: relative;
  top: -8px;
}

.product-gift-price span {
  font-family: Rbb;
  position: relative;
  padding: 0 3px;
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 33px;
  color: #ff2300;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.36);
}

.product-gift-avatar {
  width: 75px;
  position: absolute;
  top: 0;
  left: 0;
}

.product-gift-avatar img {
  max-height: 100px;
}

.category-gift-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 90px;
  width: 90px;
  border-radius: 100px;
  border: solid 1px #e0e4f6;
  line-height: 75px;
  text-align: center;
  background: #fff;
}

.category-gift-wrapper .gift-notice {
  position: absolute;
  background: url(../images/blue-stripe-reverse.png) top right;
  line-height: 35px;
  bottom: -21px;
  right: -42px;
  color: #fff;
  font-family: Ossb;
  z-index: 3;
  height: 46px;
  padding: 0 5px 0 20px;
  width: 182px;
  background-size: 100% 100%;
}

.category-gift-wrapper .category-gift-notice-price {
  font-family: Osxb;
  padding: 0 3px;
  font-size: 19px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #495583;
  line-height: 33px;
  position: relative;
  top: 2px;
}

.category-gift-overlay {
  overflow: hidden;
  border-radius: 100px;
  display: inline-block;
  width: 86px;
  height: 86px;
}

.category-gift-overlay img {
  max-height: 100%;
  vertical-align: middle;
  position: relative;
}

.category-gift-notice-price-wrapper {
  top: -11px;
  position: relative;
}

.category-gift-notice-text {
  font-size: 9px;
  line-height: 18px;
}

.product-gift-action label > span {
  font-size: 13px;
  top: -1px;
  transition: all 0.3s ease;
  display: block;
}

.product-gift-action input[type="radio"]:checked + label > span {
  color: #0c588f;
}

.mini-cart-gift-icon {
  font-size: 10px;
  position: relative;
  top: -1px;
}

.mini-cart-gift-icon i {
  font-size: inherit;
  margin-left: 0;
  top: 0;
}

.mini-cart-gift-icon-2 {
  top: -2px;
}

#total {
  font-family: Osb;
  color: #2583d3;
}

.city-column li {
  cursor: pointer;
  padding: 6px 0 5px;
  font-size: 15px;
  color: #9b9eac;
  display: block;
  transition: all 0.2s ease;
}

.city-column li:hover {
  color: #146ba9;
}

.city-column .office {
  position: relative;
}

.cities-selector-wrapper {
  float: left;
  width: 100%;
}

.cities-selector {
  border-top: solid 1px #e0e4f6;
  padding: 15px;
  background: #fff;
  margin: 0 -15px 0 -15px;
  position: relative;
}

.cities-selector button {
  width: 20%;
  height: 36px;
  padding: 10px 0 14px 0;
  line-height: 11px;
  border-radius: 2px;
}

.cities-list {
  position: relative;
  margin: -15px;
  padding: 20px 20px;
}

.cities-select-wrapper {
  float: left;
  width: 40%;
  padding-right: 10px;
  position: relative;
}

.cities-select-wrapper select {
  width: 100%;
  background: transparent;
  border: solid 1px #d9ddee;
  padding: 6px 30px 6px 10px;
  border-radius: 2px;
  height: 36px;
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
}

.cities-select-wrapper::before {
  content: "\F35D";
  display: inline-block;
  font: normal normal normal 24px/35px "Material Design Icons";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  right: 13px;
}

.city-dialog .modal-dialog {
  width: 680px;
}

.city-dialog .modal-body {
  position: relative;
  padding: 15px 15px 0;
}

.city-dialog .modal-body .city-dialog-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.city-dialog .modal-body .city-dialog-overlay::before {
  content: "";
  background: linear-gradient(to bottom, transparent 0, #ffffff 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.city-dialog .office::before {
  font: normal normal normal 12px/14px "Material Design Icons";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\F34E";
  position: absolute;
  top: 10px;
  left: -16px;
  color: #146ba9;
}

.dialog-style-one .modal-header {
  text-align: left;
  font-family: Ossb;
  font-size: 18px;
  border-bottom: none;
  color: #fff;
  background: #3b5998;
  padding: 20px 35px;
  border-radius: 6px 6px 0 0;
}

.dialog-style-one .modal-inner {
  border-radius: 8px;
}

.dialog-style-one-l .modal-header {
  background: #146ba9;
}

.cities-description-wrapper {
  padding: 33px 5px 18px;
  text-align: right;
  font-size: 14px;
  color: #9b9eac;
  font-family: Oss;
  font-style: italic;
}

.cities-description-wrapper i {
  font-size: 11px;
}

#checkout-form .tab-item {
  padding: 0;
}

#checkout-form th {
  text-align: center;
  font-weight: normal;
  font-family: Ossb;
  padding: 13px 0;
  color: #4b4b4b;
  line-height: 25px;
  font-size: 15px;
}

td.checkout-avatar {
  padding: 15px;
}

.checkout-delete-col {
  width: 33px;
}

.checkout-delete-col .delete-product {
  font-size: 16px;
  right: 0;
  line-height: 22px;
  cursor: pointer;
  margin-top: -2px;
  color: #c0c0c0;
  position: static;
  border-radius: 50px;
  width: 22px;
  height: 22px;
  display: block;
  text-align: center;
  transition: all 0.3s ease;
}

.checkout-delete-col .delete-product:hover {
  background: #de312c;
  color: #fff;
}



.widget-title-white {
  margin: 0 -30px 15px;
  padding: 16px 30px;
  background: #ffffff;
  color: #4b4b72;
  font-family: Ossb;
  box-shadow: inset 0 -1px 0px 0px #e5e5e5;
}

.sidebar-box-small .widget-title-white {
  padding: 16px 20px;
}

.sidebar-box-small .widget-body {
  padding: 0 20px;
  margin: 0 -30px;
}

.checkout-calculator-title {
  color: #4b4b72;
  font-size: 15px;
  font-family: Oss;
  margin-bottom: 7px;
  margin-top: 10px;
}


.slide-from-right-el {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-name: slide-from-right-animation;
  animation-name: slide-from-right-animation;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}



@media (min-width: 992px) {
  .text-md-center {
    text-align: center;
  }
  .text-lg-left {
    text-align: left;
  }
  body {
    padding-top: 40px;
  }
}

@media (min-width: 768px) {
  .text-sm-center {
    text-align: center;
  }
  .text-sm-left {
    text-align: left;
  }
  .pagination-wrapper {
    text-align: right;
  }
}

@media (max-width: 993px) {
  #fixed-wrapper {
    position: relative;
  }
  #fixed-wrapper .container {
    padding: 0;
    width: auto;
  }
  #sidebar .bg-menu {
    background-size: 100% 100%;
  }
  #sidemenu ul.childs {
    position: relative;
    left: 0;
    top: 9px;
    margin-left: -35px;
    margin-right: -35px;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .col-lg-2-5 {
    width: 20%;
  }
}

@media (max-width: 1370px) {
  #section-two {
    min-height: 179px;
  }
  .contacts {
    margin: 0 30px 0 190px;
  }
  .free-call-text {
    bottom: 25px;
  }
  .buy-in-one-click {
    padding: 0 24px 5px 24px;
  }
  .nav-tabs > li > a {
    padding: 10px 8px;
  }
  #special-products .widget-title {
    font-size: 14px;
  }
}

@media (min-width: 1370px) {
  .container {
    width: 1330px;
  }
  #logo {
    top: 18px;
    left: 32px;
  }
}


.no-sidebar-page {
  .side-column {
    display: none;
  }
  .main-column {
    width: 100%;
  }

  .offset-group {
    right: 0;
    margin-top: -26px;

  }
  ul.header-menu {
    border-radius: 0;
  }
}
/*# sourceMappingURL=app.css.map */


.checkout-desk {
  margin-left: -10px;
  margin-right: -16px;
  border-radius: 0;
  position: relative;
  right: -25px;
  .with-icon::after {
    top: 42px;
    font-size: 17px;
  }
}

.f-s-13 {
  font-size: 13px;
}


.cart-page {
  #page {
    min-height: 700px;
  }
  #fixed-wrapper {
    position: absolute;
    top: 0;
  }
  .nav.nav-tabs {
    background: #ffffff;
    color: #707590;
    font-family: Ossb;
    border: solid 1px #e0e4f6;
    border-right: none;
    margin-right: -35px;
    border-radius: 0;
    margin-top: 1px;
    li {
      margin-bottom: 0;
    }
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: none;
    border-right: dotted 1px #e0e4f6;
    .step-number {
      background: #1a89d8;
    }
  }
  .nav > li > a, .nav > li > span.link {
    padding: 15px 20px 15px 55px;
    color: #444;
    border: none;
    border-right: dotted 1px #e0e4f6;
    border-radius: 0;
  }
  .nav > li:last-child > a {
    border-right: none !important;
  }
  .step-number {
    background: rgb(147, 206, 248);
    width: 29px;
    display: inline-block;
    height: 29px;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-family: Osxb;
    line-height: 29px;
    position: absolute;
    top: 12px;
    left: 15px;
  }

}

.select-city-form-btn {
  text-align: left;
  padding-right: 37px;
  i {
    font-size: 18px;
    position: absolute;
    right: 8px;
    top: 9px;
    color: #0bc907;
  }
}


.usertype-block {
  border-top: none;
  margin: 0;
  padding: 0;
}


@media(min-width: 992px) AND (max-width: 1200px) {
  .product-wrapper {
    .base-price-hidden-md {
      height: 50px;
      .simple-price {
        display: none;
      }
    }
  }
}


@media(min-width: 1200px) {
  .product-wrapper {
    .base-price-hidden-lg {
      height: 50px;
      .simple-price {
        display: none;
      }
    }
  }
}

.child-category-mini {
  color: #444;
  font-family: Ossb;
  font-size: 15px;
  line-height: 27px;
  padding-left: 20px;
  position: relative;
  display: block;
  i {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.complex-row {
  .checkout-avatar {
    a {
      display: block;
    }
    img {
      height: 60px;
      margin-bottom: 25px;
    }
  }

  .complex-checkout-title {
    width: 100%;
    padding-bottom: 25px;
    display: inline-block;
    position: relative;
  }

  .complex-checkout-title::before {
    @include mdi();
    content: "\F417";
    position: absolute;
    bottom: 4px;
    left: 35px;
  }

  .complex-checkout-title:last-child::before {
    display: none;
  }
}

.checkout-product-gifts-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: transparent;
  border: none;
  font-size: 11px;
}

.checkout-products-gifts-select-another {
  color: #ff5a0c;
  margin-left: 10px;
  cursor: pointer;
}

#gifts-wrapper {
  padding-bottom: 30px;
}



.w-auto {
  width: auto !important;
}

.inline-block {
  display: inline-block !important;
}

#global-preloader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -112px;
  margin-top: -73px;
}

.complex-plus:last-child {
  display: none;
}

.checkout-modal-gift {
  min-height: 100px;
  margin-bottom: 30px;
  padding: 15px;
  border-bottom: solid 1px #e4e7ea;
  position: relative;
  .inline-text-wrapper {
    line-height: 23px;
    a {
      vertical-align: middle;
    }
  }
}

.checkout-modal-gift:last-child {
  border-bottom: none;
}

.checkout-modal-gift-avatar {
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 5px 0;
  float: left;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.checkout-modal-gift-link {
  border-radius: 6px;
  color: #146ba9;
  font-size: 13px;
}

.checkout-modal-gift-title-wrapper {
  float: left;
  padding: 5px 15px;
  line-height: 55px;
  width: 270px;
}

.inline-text-wrapper {
  display: inline-block;
}

.checkout-modal-gift-price {
  float: left;
  width: 115px;
  line-height: 50px;
  text-align: right;
}
.checkout-modal-gift-quantity-wrapper {
  float: left;
  width: 63px;
  position: relative;
  padding: 0 10px;
  line-height: 50px;
  .checkout-quantity  {
    width: 63px;
    text-align: center;
    position: relative;

    .quantity .plus, .quantity .minus {
      opacity: 1;
    }
    .quantity .plus {
      top: -4px;
    }
    .quantity .minus {
      bottom: -4px;
    }
    .quantity-control {
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 35px;
      height: 35px;
      background: #fff;
    }

    .quantity {
      position: relative;
    }
  }
}

#checkout-modal-product {
  .checkout-modal-gift-avatar {
    width: 140px;
    height: 140px;
  }
  .checkout-modal-gift-title-wrapper {
    line-height: 120px;
  }

  .checkout-modal-gift-link {
    font-size: 16px;
  }
}

.checkout-modal-gift-special-line {
  position: absolute;
  bottom: -27px;
  right: -46px;
  background: url('../images/blue-stripe-reverse.png');
  background-size: 100% 100%;
  color: #fff;
  padding: 12px 30px 19px 60px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Ossb;
}

.checkout-cart-payment-methods {
  padding: 30px 0;
  font-family: Oss;
  div {
    margin: 0 7px;
  }
  img {
    margin: 15px 0;
  }
}

.modal-close-btn {
  font-size: 30px;
  position: absolute;
  right: -13px;
  top: -8px;
  background: #fff;
  border-radius: 100%;
  line-height: 24px;
  text-align: center;
  width: 23px;
  height: 21px;
  cursor: pointer;
  i {
    position: relative;
    left: -3px;
    top: -2px;
  }
}




.wide-slider {
  height: 342px;
  position: relative;
  box-shadow: inset 0 -3px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(192, 196, 215, 0.25);
  border-radius: 2px;
  border: solid 1px #e0e4f6;
    img {
      display: inline-block;
      z-index: 1;
      width: 100%;
    }
    .ws-row {
      position: absolute;
    }
    .ws-from-left {
      left: 15px;
    }
    .ws-first-row {
      top: 15px;
    }

    .slider-item {
      overflow: hidden;
      max-height: 338px;
    }
    .ws-arrow {
      position: absolute;
      top: 50%;
      font-size: 50px;
      margin-top: -30px;
      color: #bec0cd;
      cursor: pointer;
    }

    .ws-arrow-left {
      left: 0px;
    }

    .ws-arrow-right {
      right: 0px;
    }

    .ws-second-row {
      top: 79px;
    }

    .ws-xl {
      font-family: Osxb;
      padding: 7px 5px;
      font-size: 35px;
      @include transform(skewX(-10deg));
    }

    .ws-sm {
      font-family: Ossb;
      padding: 5px 7px;
      @include transform(skewX(-15deg));
    }
    .ws-red {
      background: #f30;
      color: #fff;
    }
    .ws-blue {
      background: #146ba9;
      color: #fff;
    }
    .ws-animation {
      animation-duration: 1.2s;
      animation-fill-mode: forwards;
      opacity: 0;
     // animation-iteration-count: infinite;
    }
}

.slide-in-left {
  animation-name: slide-in-left;
}

.slide-in-up {
  animation-name: slide-in-up;
}

.locked {
  #global-preloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
    img {
      position: absolute;
      top: 50%;
      margin-left: -114px;
      margin-top: -75px;
    }
  }
}

body.locked::before {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 335;
  top: 0;
}

.sidebar-delivery-row {
  min-height: 50px;
  position: relative;
  margin: 0 -10px 15px;
  padding-left: 102px;
  font-size: 13px;
  padding-top: 5px;
}

.checkout-deliveries {
  margin: 30px 0 50px;
}
.sidebar-delivery-price {
  color: #5c77a4;
  font-family: Ossb;
  position: relative;
}

input[type="radio"].radio-anchor + label::before {
  display: inline-block;
  font: normal normal normal 17px/13px "Material Design Icons";
  left: 16px;
  color: #1a89d8;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\F031";
  @include transition(all 0.3s ease);
  @include transform(scale(0));
}

input[type="radio"].radio-anchor:checked + label::before {
  @include transform(scale(1));
}

.sidebar-delivery-row:last-child {
  margin-bottom: 0;
}

.sidebar-delivery-price img {
  width: 23px;
}

.sidebar-delivery-row-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  text-align: right;
  height: 50px;
  line-height: 42px;
}

.widget-subtitle {
  font-size: 13px;
  margin: 0 -5px 25px;
}

.widget-title-with-icon {
  position: relative;
  padding-left: 97px;
  i {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 48px;
    color: #c9ccdd;
  }
}

.order-details-title {
  font-family: Ossb;
  display: block;
  font-size: 18px;
  padding-bottom: 6px;
  color: #283346;
  position: relative;
  margin: 15px 0 20px;
}

.product-in-stock-image {
  position: relative;
  top: -2px;
  margin-left: 15px;
  height: 15px;
  width: 80px;
}

.blue-skew {
  line-height: 22px;
  font-size: 17px;
  font-weight: normal;
  font-family: Ossb;
  float: left;
  padding: 8px 35px 10px;
  margin: 0 0 37px;
  background: #1a89d8;
  color: #fff;
  -webkit-transform: skewX(-5deg);
  transform: skewX(-5deg);
}

#deliveries {
  position: relative;
  float: left;
  width: 100%;
  .sidebar-delivery-row {
    margin-bottom: 17px;
    padding-top: 5px;
    font-size: 15px;
    line-height: 23px;
    padding-left: 118px;
    padding-right: 50px;
    height: 55px;
  }
}

#deliveries-preloader {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 200px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.sidebar-delivery-row input[type="radio"] + label {
  position: absolute;
  top: 12px;
  right: 6px;
}

.sidebar-delivery-row input[type="radio"] + label::after {
  top: -1px;
  left: 12px;
  width: 24px;
  height: 24px;
  border: solid 1px #d3d7e8;
}

span.sidebar-delivery-price-row {
  padding-left: 5px;
}

.sidebar-delivery-price.restricted::before {
  content: "";
  background: red;
  height: 1px;
  display: block;
  margin-left: -1px;
  position: absolute;
  top: 9px;
  left: -4px;
  right: -4px;
}

.delivery-is-free {
    color: #ff0000;
}

.order-details-key, .order-details-value {
  margin-bottom: 7px;
}

.order-page {
  .grid-table tr:last-child {
    border-bottom: none;
  }
  th {
    font-family: Ossb;
    font-size: 17px;
    padding-bottom: 6px;
    color: #283346;
    position: relative;
    margin: 15px 0 20px;
  }
}

#documents-desc-text {
  .title {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #283346;
    padding: 0;
  }
}

.notify {

}

.order-details-tip {
  margin-bottom: 25px;
  color: #868ca7;
  font-size: 13px;
}

.link-align-button {
  position: relative;
  top: -2px;
}

.order-avatar {
  width: 175px;
  height: 175px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  img {
    max-height: 100%;
  }
}

.order-title {
  a {
    font-size: 16px;
    text-transform: uppercase;
    color: #4f4f4f;
    font-family: Osb;
  }
}

.order-container {
  position: relative;
  padding: 12px 195px 45px 195px;
  height: 195px;
  margin-bottom: 25px;
  border-bottom: solid 1px #e0e4f6;
}

.order-details {
  padding: 5px 0 10px;
  font-size: 12px;
  text-transform: lowercase;
  font-family: Ossb;
  letter-spacing: 0.5px;
  color: #5c77a4;
}

.order-priceinfo {
  position: absolute;
  right: 40px;
  top: 45px;
}

@media(min-width: 992px) and (max-width: 1200px) {
  #section-two {
    background-size: 100% 179px;
  }
  .contacts {
    margin: 0 30px 0 155px;
    .contact-row {
      padding-left: 0;
      i, a {
        display: none;
      }
    }
  }
}

@media(max-width: 1200px) {
  .sidebar-left {
    margin-left: -15px;
    margin-right: -15px;
  }
  .offset-group {
    margin-top: -27px;
    right: 0;
  }
  #logo {
    left: 5px;
    top: 18px;
    width: 140px;
    height: 132px;
  }
  .free-call-text {
    bottom: 7px;
  }

  #page-wrapper {
    background: transparent;
    border-left: none;
    border-right: none;
  }
  .content-wrapper {
    background: transparent;
  }
  .main-column {
    background: #fff;
  }
}

#select-payment-form {
  .sidebar-delivery-text {
    margin-top: 8px;
    margin-left: 8px;
  }
}

.checkout-delivery-desc {
  margin: 10px 0;
  font-size: 15px;
  color: #a8a8a8;
  font-style: italic;
}

.highlight-color {
  color: #1a89d8;
  font-style: normal;
  margin: 0 5px;
  font-family: Ossb;
}

.success-notification {
  background-color: #51a351;
  box-shadow: 0 0 12px rgba(153, 153, 153, 0.65);
  color: #fff;
  opacity: .8;
  padding: 25px;
  margin-bottom: 25px;
}